@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232323;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-gradient {
    background-image: linear-gradient(
      44.76deg,
      #9945ff 10.43%,
      #8752f3 30.84%,
      #5497d5 49.4%,
      #43b4ca 58.68%,
      #28e0b9 69.81%,
      #19fb9b 93.01%
    );
    background-clip: text;
    color: transparent;
  }
  .gradient {
    background-image: linear-gradient(
      44.76deg,
      #9945ff 10.43%,
      #8752f3 30.84%,
      #5497d5 49.4%,
      #43b4ca 58.68%,
      #28e0b9 69.81%,
      #19fb9b 93.01%
    );
  }
}
